{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css'>
  
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  
  <link rel="stylesheet" href="/static/css/authenticate.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section>

  
  <div class="box">
    
    <div class="square" style="--i:0;"></div>
    <div class="square" style="--i:1;"></div>
    <div class="square" style="--i:2;"></div>
    <div class="square" style="--i:3;"></div>
    <div class="square" style="--i:4;"></div>
    <div class="square" style="--i:5;"></div>

   
  
    
   <div class="container"> 
    
    <div class="form"> 
      <center> 
        <h2>SIGN UP</h2>
      </center>
      <form action="" method="post">
        {% csrf_token %}
        <div class="inputBx">
          <input type="text" name="user" required="required">
          <span>Name</span>
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="inputBx">
          <input type="email" name="email" required="required">
          <span>Email</span>
          <i class="fas fa-user-circle"></i>
        </div>
        <div class="inputBx password">
          <input id="password-input" type="password" name="password" required="required">
          <span>Password</span>
          <a href="#" class="password-control" onclick="return show_hide_password(this);"></a>
          <i class="fas fa-key"></i>
        </div>
        <div class="inputBx password">
            <input id="Cpassword-input" type="password" name="confirmpassword" required="required">
            <span>Confirm Password</span>
            <a href="#" class="password-control" onclick="return show_hide_confirm_password(this);"></a>
            <i class="fas fa-key"></i>
          </div>
      <center> 
        <div class="inputBx">
          <input type="submit" value="SIGN UP" > 
        </div>
      </center>
      </form>
    </div>
  </div>
  <br> <br> <br>

  {% for message in messages %}
    <center>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>SIGN UP successful !</strong> Go and LOG IN.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </center>
    {% endfor %}
    
  </div>
</section>

<!-- partial -->
  <script  src="/static/js/authenticate.js"></script>
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>
