{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Template 3</title>
  <link rel="icon" href=" {% static 'img/icons/resume.png' %} " />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="/static/css/template-edit-3.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="noprint" style="margin:10px auto 0px auto;padding-top:10px;text-align:center;"><a target="_blank" style="text-decoration:none;"><span style="border-radius:4px;padding: 5px;color:black;border:1px solid black;" onclick="DownloadResume()">Download</span></a></div>
<section style="border-radius: 4px; box-shadow: gray 1px 1px 3px 2px; overflow: hidden;">
	<article>
		<table class="psnl-info">
			<tbody>
				<tr>
					<td rowspan="2" class="text-left" contenteditable>Tel: (+91)9999999999</td>
					<td class="text-center font-20" contenteditable>DEMO</td>
					<td rowspan="2" class="text-right" contenteditable>email: demo@gmail.com</td>
				</tr>
				<tr>
					<td class="text-center font-20" contenteditable>"DEMO"</td>
				</tr>
				<tr>
					<td></td>
					<td class="text-center font-18" contenteditable>( <em>DEMO</em>)</td>
					<td></td>
				</tr>
			</tbody>
		</table>
		<div class="rsm-header">
			<h2 contenteditable>Work Experience</h2>
			<hr>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Company Name 1</div>
					<div contenteditable>Designation</div>
				</div>
				<div class="text-right font-10">
					<div contenteditable>from-date - to-date</div>
					<div contenteditable>City</div>
				</div>
			</div>
			<div class="rsm-cmpnt-mid" contenteditable>
				About company  
			</div>
			<div class="rsm-cmpnt-btm">
				<p contenteditable>Project 1:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
					<li contenteditable>what was your role in it</li>
				</ul>
				<p contenteditable>Project 2:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
					<li contenteditable>what was your role in it</li>
				</ul>
			</div>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Company Name 2</div>
					<div contenteditable>Designation</div>
				</div>
				<div class="text-right font-10">
					<div contenteditable>from-date - to-date</div>
					<div contenteditable>City</div>
				</div>
			</div>
			<div class="rsm-cmpnt-mid" contenteditable>
				About company 
			</div>
			<div class="rsm-cmpnt-btm">
				<p contenteditable>Project 1:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
				</ul>
				<p contenteditable>Project 2:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
				</ul>
			</div>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Company Name 3</div>
					<div contenteditable>Designation</div>
				</div>
				<div class="text-right font-10">
					<div contenteditable>from-date - to-date</div>
					<div contenteditable>city</div>
				</div>
			</div>
			<div class="rsm-cmpnt-mid" contenteditable>
				About company 
			</div>
			<div class="rsm-cmpnt-btm">
				<p contenteditable>Project 1:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
					<li contenteditable>what was your role in it</li>
				</ul>
				<p contenteditable>Project 2:</p>
				<ul>
					<li contenteditable>tell about the project you worked on</li>
					<li contenteditable>what was your role in it</li>
				</ul>
			</div>
		</div>
		
		<div class="rsm-header">
			<h2 contenteditable>Education</h2>
			<hr>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Institute Name</div>
					<div contenteditable>Course</div>
				</div>
				<div class="text-right font-10">
					<div contenteditable>from-date - to-date</div>
					<div contenteditable>City</div>
				</div>
			</div>
			<div class="rsm-cmpnt-btm">
				<p contenteditable>Education highlights:</p>
				<ul>
					<li contenteditable>DEMO</li>
				</ul>
			</div>
		</div>
		<div class="rsm-header">
			<h2 contenteditable>Professional Skills</h2>
			<hr>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Skill 1</div>
				</div>
			</div>
			<div class="rsm-cmpnt-btm">
				<ul>
					<li contenteditable>elaborate about your skills</li>
				</ul>
			</div>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Skill 2</div>
				</div>
			</div>
			<div class="rsm-cmpnt-btm">
				<ul>
					<li contenteditable>elaborate about your skills</li>
				</ul>
			</div>
		</div>
		<div class="rsm-cmpnt">
			<div class="rsm-cmpnt-top">
				<div class="text-left">
					<div contenteditable>Skill 3</div>
				</div>
			</div>
			<div class="rsm-cmpnt-btm">
				<ul>
					<li contenteditable>elaborate about your skills</li>
				</ul>
			</div>
		</div>
	</article>
</section>
<script type="text/javascript">
	var sc_project = 11722433;
	var sc_invisible = 1;
	var sc_security = "7fc26bb9";
</script>
<script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript>
	<div class="statcounter"><a title="Web Analytics" href="https://statcounter.com/" target="_blank"><img class="statcounter" src="https://c.statcounter.com/11722433/0/7fc26bb9/1/" alt="Web Analytics"></ a>
	</div>
</noscript>
<!-- End of Statcounter Code -->
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
  <script src="/static/js/template-edit-3.js"></script>

</body>
</html>
